<mat-card style="margin-bottom: 10px;">
  <mat-card-content>

    <form [formGroup]="firstFormGroup">

      <div class="col-md-12">

        <h2>
          RÚBRICA DE EVALUACIÓN DE PROYECTOS ARTICULADOS
        </h2>

        <h3>
          "El puntaje máximo establecido por cada sub-criterio es 4 y el mínimo es 1.
          (4:Muy bueno, 3: Bueno, 2: Regular y 1: Deficiente)"
        </h3>

        <p>Base científica de la propuesta</p>
        <h3>
          Descripción
        </h3>
        <p>
          1. La introducción y la justificación de la propuesta del proyecto es clara, concisa y coherente con el tema a
          desarrollar.
        </p>

        <h3>
          Ponderación de Criterios

        </h3>
        <p>
          10%
        </p>
        <mat-form-field appearance="fill">
          <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
          <input type="number" min="1" max="4" matInput placeholder="de 1 a 4 puntos" formControlName="firstCtrl"
            required>
        </mat-form-field>
      </div>


      <div class="col-md-12">


        <p>Objetivos</p>

        <h3>
          Descripción
        </h3>
        <p>
          El objetivo general y los objetivos específicos son formulados con claridad y guardan relación con los
          resultados
          esperados.
        </p>

        <h3>
          Ponderación de Criterios
        </h3>
        <p>
          10%
        </p>
        <mat-form-field appearance="fill">
          <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
          <input type="number" min="1" max="4" matInput formControlName="secondCtrl" placeholder="de 1 a 4 puntos"
            required>
        </mat-form-field>
      </div>

      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext (click)="onSum2()">Next</button> -->
      </div>



      <p>Metodología</p>
      <h3>
        Descripción
      </h3>
      <p>
        La metodología está formulada adecuadamente y permite cumplir con los objetivos planteados y en el plazo
        establecido para el proyecto
      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        15%
      </p>
      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="thirdCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>



      <p>Pertinencia</p>

      <h3>
        Descripción
      </h3>
      <p>
        La propuesta se ajusta a los términos de la convocatoria y los resultados esperados se ajustan a una o más
        funciones
        sustantivas.
      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        10%
      </p>
      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="fourthCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>





      <p>Relevancia</p>

      <h3>
        Descripción
      </h3>
      <p>
        La propuesta del proyecto introduce un cambio innovador, promueve el desarrollo de investigaciones, implementa
        cambios en la enseñanza aprendizaje o el desarrollo de prototipos que resuelvan problemas sociales que afectan a
        la
        población del país.
      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        15%
      </p>
      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="fifthCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>



      <p>Cronograma</p>

      <h3>
        Descripción
      </h3>
      <p>
        6. El cronograma de la propuesta describe actividades claras, sucesivas y consecuentes para el cumplimiento de
        objetivos.
      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        5%
      </p>
      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="sixthCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>

      <p>Presupuesto</p>

      <h3>
        Descripción
      </h3>
      <p>
        7. La utilización y distribución del presupuesto se encuentran justificados.

      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        5%
      </p>

      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="seventhCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>

      <p>Resultados esperados y transferencia de conocimiento A</p>

      <h3>
        Descripción
      </h3>
      <p>
        8. El proyecto genera como parte de sus resultados publicaciones científicas, prototipos, registros de propiedad
        intelectual u otros resultados esperados de acuerdo a la convocatoria
      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        15%
      </p>

      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="eighthCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button> -->
      </div>

      <!-- <p>Resultados esperados y transferencia de conocimiento B</p>

      <h3>
        Descripción
      </h3>
      <p>
        9. Se puede evidenciar que los resultados generados por el proyecto planteado tienen potencial de transferencia
        de conocimiento en diferentes sectores como el académico, político, social y productivo.

      </p>

      <h3>
        Ponderación de Criterios

      </h3>
      <p>
        15%
      </p>
      <mat-form-field appearance="fill">
        <mat-label>CALIFICACIÓN ASIGNADA</mat-label>
        <input type="number" min="1" max="4" matInput formControlName="ninthCtrl" placeholder="de 1 a 4 puntos"
          required>
      </mat-form-field> -->
      <!-- <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext (click)="sumatoriaNotas()">Next</button>
  </div> -->


    </form>

    <div>
      <button mat-button (click)="sumatoriaNotas()">Calcular</button>
    </div>

    <p>Resultados</p>
    <p>Porcentaje Mínimo de Aprobación</p>
    <p><strong>76%</strong></p>

    <p>Puntaje Alcanzado</p>

    <p>
      <strong>
        {{porcentajeTotal}}
      </strong>
    </p>

    <p>Resultado de la Evaluación</p>
    <!-- <p><strong>Proyecto aprobado >= 76</strong></p>
    <p><strong>Proyecto por Mejorar <= 75</strong></p>
    <p><strong>Replantear Propuesta <= 50</strong></p> -->



    <p>
      <strong>
        {{ resultadoEvaluacion }}
      </strong>
    </p>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
